@{
    ViewBag.Title = "chức danh list";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- DataTables -->
<link href="@Url.Content("~/Content/Table/css/jquery.dataTables.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/Table/css/dataTables.bootstrap.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/Table/css/dataTables.fontAwesome.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/Table/css/dataTables.tableTools.css")" rel="stylesheet" />

<!--datatable-->
<script src="@Url.Content("~/Content/Table/js/jquery.dataTables.js")"></script>
<script src="@Url.Content("~/Content/Table/js/dataTables.tableTools.js")"></script>
<script src="@Url.Content("~/Content/Table/js/dataTables.bootstrap.js")"></script>
<script src="@Url.Content("~/Content/Table/js/jquery.jeditable.js")"></script>
<script src="@Url.Content("~/Content/Table/js/jquery.dataTables.editable.js")"></script>
<script src="@Url.Content("~/Content/Table/js/jquery.dataTables.rowGrouping.js")"></script>

<script type="text/javascript" charset="utf-8">
    var oTableChucDanh;

    $(document).ready(function () {
        oTableChucDanh = $("#DataTableChucDanh").DataTable({
            dom: "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span12'i><'span12 center'p>>",
            tableTools: {
                "sRowSelect": "os",
                "sSelectedClass": "selected"
            },
            "bJQueryUI": false,
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource":"@Url.Action("GetList","ChucDanh")",
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.getJSON(sSource, aoData, function (json) {
                    fnCallback(json)
                });
            },
            "iDisplayLength": 10,
            "bAutoWidth": true,
            "sPaginationType": "full_numbers",
            "aaSorting": [[1, "asc"]],
            "bStateSave": true,
            "aoColumns": [
                        {
                            "sName": "Id",
                            "sTitle": "Id",
                            "sClass": "center",
                            "sDefaultContent": "",
                            "bSearchable": false,
                            "bSortable": false,
                            "bVisible": false
                        },
                        {
                            "sName": "Name",
                            "sTitle": "Name",
                            "sClass": "left",
                            "sDefaultContent": "",
                            "bSearchable": true,
                            "bSortable": true,
                        }
            ]
        });

        var tt = new $.fn.dataTable.TableTools(oTableChucDanh);
        $("#tableToolChucDanh").prepend(tt.fnContainer());

        $("#DataTableChucDanh").dataTable().makeEditable({
            sUpdateURL: "@Url.Action("Update","ChucDanh")",
            sDeleteURL: "@Url.Action("DeleteById","ChucDanh")",
            sDeleteRowButtonId: "btnDeleteChucDanh",

            "aoColumns": [
                            {}
            ]
        });

        $('#DataTableChucDanh tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                oTableChucDanh.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });

        $("#btnAddChucDanh").click(function (e) {
            InitialAddChucDanhError();

            $("#formAddChucDanh")[0].reset();

            e.preventDefault();

            $('#modalformAddChucDanh').modal({
                "backdrop": "static",
                "keyboard": true,
                "show": true,
                "width": "550"
            });
        });

        $("#btnUpdateAddChucDanh").click(function () {

            if (CheckFormAddChucDanh()) {
                InitialAddChucDanhError();

                $.ajax({
                    url: "@Url.Action("Add", "ChucDanh")",
                    type: "GET",
                    data: { name: $("input[name='ChucDanh_Name']").val()},
                    dataType: "json",
                    contentType: 'application/json; charset=utf-8',
                    error: function () {
                        ShowAddChucDanhError("Access denied.");
                        return false;
                    },
                    success: function (result) {
                        if (result == "") {
                            $('#modalformAddChucDanh').modal("hide");
                            oTableChucDanh.draw();
                        }
                        else {
                            ShowAddChucDanhError(result);
                        }
                    }
                });
            }
        });
    });

    function InitialAddChucDanhError() {
        $("#divAddChucDanhError").hide();
        $("#lblAddChucDanhError").text("");
    }

    function CheckFormAddChucDanh() {
        var check = true;
        var error = "";

        InitialAddChucDanhError();

        if ($("input[name='ChucDanh_Name']").val() == "") {
            error = "enter the name";
            check = false;
        }

        if (!check)
            ShowAddChucDanhError(error);

        return check;
    }

    function ShowAddChucDanhError(text) {
        $("#divAddChucDanhError").show();
        $("#lblAddChucDanhError").text(text);
    }
</script>

<section class="content-header">
    <h1>
        CHỨC DANH LIST
        <small>manage the chức danh list</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Setting</a></li>
        <li class="active">Chức danh list</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">

                <div class="box-header">
                    <h3 class="box-title">Chức danh</h3>

                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <div class="btn-group">
                            <button class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown"><i class="fa fa-wrench"></i></button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                        <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div><!-- /.box-header -->

                <div class="box-body">
                    <div class="AddDeleteButton">
                        <button class="btn btn-danger" id="btnDeleteChucDanh">Delete</button>
                        <button class="btn btn-primary" id="btnAddChucDanh">Add</button>
                    </div>

                    <div class="tableTool" id="tableToolChucDanh"></div>

                    <table class="dataTable" id="DataTableChucDanh">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--/span-->

    </div><!--/row-->
</section>

<div class="modal fade" id="modalformAddChucDanh" title="Thêm mới" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3 class="animated rubberBand">@Html.Raw("Add new")</h3>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" id="divAddChucDanhError">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <label id="lblAddChucDanhError"></label>
                </div>

                <form id="formAddChucDanh" role="form">
                    <fieldset>

                        <div class="form-group">
                            <label class="control-label" for="ChucDanh_Name">@Html.Raw("Name: ")</label>
                            <input type="text" class="form-control" id="ChucDanh_Name" name="ChucDanh_Name" placeholder="enter name">
                        </div>

                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                <a href="#" class="btn btn-primary" id="btnUpdateAddChucDanh">OK</a>
            </div>
        </div>
    </div>
</div>